:root{
	--blurred-color:#666666;
	--medium-font-zise:15px;
}
.coronita-container {
	font-family: "BentonSansBBVA Book" !important;
	font-size: var(--medium-font-zise);
	line-height: 24px;
	color:#121212;
}
.coronita-title{
	font-size: 36px;
	margin-bottom: 24px;
	text-align: center;
	line-height: 36px;
}

.coronita-sub-title{
	font-size: 18px;
	margin-bottom: 16px;
	text-align: center;
    line-height: 18px;
}

.blurred{
	color: var(--blurred-color);
}

.coronita-info-label{
	text-align: justify;
	line-height: 15px;
	color:var(--color-primary-title);
}

.coronita-semi-bold{
	font-weight: 500;
}

.coronita-bold{
	font-weight: 1000;
}

.coronita-medium-icon {
	height: 24px;
	width: 24px;
}

.coronita-small-icon {
	display: flex;
	height: 18px;
	width: 23px;
}

.coronita-small-icon-warning {
	font-family : 'BentonSansBBVA Book';
	/* display: flex;
	height: 18px;
	width: 23px; */
}

.coronita-large-icon {
	height: 48px;
	width: 48px;
}

.coronita-2x-large-icon {
	height: 64px;
	width: 64px;
}

.coronita-3x-large-icon {
	height: 84px;
	width: 84px;
}

.coronita-texto-con-icono {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	text-align: start;
}

.center-elements{
	align-items:center;
}

.center-content{
	justify-content: center;
}
.coronita-texto-con-icono > .coronita-small-icon:nth-child(1) {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 18px;
	-ms-flex: 0 0 18px;
	flex: 0 0 18px;
}

.coronita-texto-con-icono > .coronita-medium-icon:nth-child(1) {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 24px;
	-ms-flex: 0 0 24px;
	flex: 0 0 24px;
}

.coronita-texto-con-icono > .coronita-large-icon:nth-child(1) {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 48px;
	-ms-flex: 0 0 48px;
	flex: 0 0 48px;
}

.coronita-texto-con-icono > .coronita-2x-large-icon:nth-child(1) {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 64px;
	-ms-flex: 0 0 64px;
	flex: 0 0 64px;
}

.coronita-texto-con-icono > *:nth-child(2) {
	padding-left: 8px;
}

.coronita-texto-con-icono > *:nth-child(2) {
	padding-left: 8px;
}

.coronita-disclaimer-informativo {
	padding: 16px 24px;
	background-color: #D4EDFC;
	margin-top: 24px;
	text-align: justify;
}

.coronita-disclaimer-warning {
	padding: 16px 24px;
	background-color: #fff5e5;
	margin-top: 24px;
	text-align: justify;
}

.coronita-informativo-resumen {
	padding: 18px 2px;
}

.coronita-form-group{
	position: relative;
}

.coronita-small-font-zise {
	font-size: 14px
}
.coronita-medium-font-zise {
	font-size: var(--medium-font-zise);
}

.coronita-large-font-zise {
	font-size: 24px
}
.coronita-x-large-font-zise {
	font-size: 36px
}

.coronita-input-label{
	margin-top: 5px;
	padding: 0 0 0 15px;
}

.coronita-link-container{
	margin-top: 5px;
	padding: 0 0 0 15px;
}

.icon-password{
    width: 24px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    display: none;
    
}
.icon-password.open-eye{
	background-image: url(img/eye_inactive.svg);
}
.icon-password.close-eye{
    background-image: url(img/eye_active.svg);
}

.icon-limpiar-input{
    width: 20px;
    height: 18px;
    position: absolute;
	top: 20px;
    right: 60px;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-image: url(../images/aspa.svg);
    display: none;
}

.icon-limpiar-input-alone{
    width: 20px;
    height: 18px;
    position: absolute;
    right: 16px;
    top: 14px;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-image: url(../images/aspa.svg);
    display: none;
}

.unmarked {
	margin-top: 3px;
	margin-left: 6px;
    display: block;
    background: url(img/password_check_off.svg) no-repeat center / contain;
}

.mark {
	color : #277a3e;
	margin-top: 3px;
	margin-left: 6px;
    width: 1rem;
    height: 1rem;
    margin-right: calc(((0.5 * var(--gridSpacerVariant, var(--gridSpacer, 8))) / 16) * 1rem);
}

.marked-check{
	margin-top: 3px;
    margin-left: 6px;
    display: block;
    background: url(img/password_check_on.svg) no-repeat center / contain;
}


.coronita-small-margin-top {
	margin-top: 16px;
}

.coronita-medium-margin-top {
	margin-top: 24px;
}

.coronita-small-margin-bottom {
	margin-top: 8px;
	margin-bottom: 9px;
}

.coronita-small-margin-bottom-password {
	margin-top: 3px;
	margin-bottom: 7px;
}

.coronita-medium-margin-bottom {
	margin-bottom: 24px;
}

.coronita-small-margin-left {
	margin-left: 10px;
}

.coronita-small-padding-right {
	padding-right: 5px;
}

.coronita-small-padding-bottom {
	padding-bottom: 5px;
}

.area-nivel-seguridad {
	font-family : 'BentonSansBBVA Book Italic';
	width: 100%;
    margin-top: 10px;
}
.area-nivel-seguridad.flag-very-low {
	color:#C30909;
}

.area-nivel-seguridad.flag-low{
	color:#C30909;
}
.area-nivel-seguridad.flag-medium{
	color:#7A721F;
	
}
.area-nivel-seguridad.flag-high{
	color:#115700;
}

.entre-lineado {
	line-height: 35px;
}


.texto-centrado {
	text-align: center;
}

.texto-justificado {
	text-align: justify;
}


.hidden{
	display: none;
}

.icon-bullet-svg {
	background: url(../images/Bullet.svg) no-repeat center;
	display: flex;
	height: 18px;
	width: 23px;
}

.icon-info-svg {
	background: url(../images/info.svg) no-repeat;
}

.icon-info-svg-warning {
	background: url(../images/warning.svg) no-repeat;
}

.icon-help-svg {
	background: url(img/help.svg) no-repeat center/contain;
}

.icon-pdf-svg {
	background: url(img/document.svg) no-repeat center/contain;
}

.icon-play-svg {
	background: url(img/play.svg) no-repeat center/contain;
}

.icon-error-svg {
	background: url(img/warning.svg) no-repeat;
}



.server-error-container {
	    text-align: justify;
}

@media (min-width: 769px){
	.server-error-container {
	    margin: 0px auto;
	    text-align: justify;
	}
}

.filter-error-svg{
	filter: invert(14%) sepia(98%) saturate(4038%) hue-rotate(350deg) brightness(72%) contrast(87%);
}

::-ms-reveal {
    display: none;
}



