input:not([type=radio]):not([type=checkbox]){
	padding: 22px 0 10px 15px;
    background-color: rgb(247, 248, 248);
    border-radius: 8px;
    height:48px;
    width:100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:not([type=radio]), select {
    font-family: "BentonSansBBVA Book";
    color: #121212;
}

select{
	padding: 25px 10px 0px 16px;
    background: #F4F4F4;
    border: 0px;
    border-bottom: 1px solid #000;
    height:56px;
    width:100%;
    box-sizing:border-box;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


select[disabled],
select[disabled]~label,
input[disabled],
input[disabled]~label{
	opacity: 0.3;
	pointer-events: none;
	cursor: not-allowed;
}

select::-ms-expand {
    display: none;
}

.dropdown-icon{
	position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
    -webkit-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    pointer-events: none;
}

.dropdown-icon:before{
	font-family: "bbva-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\6f";
    font-size: 24px;
    color: #1464A5;
}

select:focus~.dropdown-icon{
	-webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}


input:focus, select:focus{
	outline:none;
}

input[type="checkbox"]{
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 2px solid #46536D;
    margin-right: 8px;
    -webkit-appearance: none;
    z-index: 1 !important;
    
}

input[type="checkbox"]:before{
	width: 14px;
    height: 14px;
    box-sizing: border-box;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    top: 4px;
    left: 4px;
}

label.on input[type="checkbox"]:before,
label.on input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:before{
    background-color: #004481;
    background:url(img/check.svg) no-repeat center/contain;
}

input:not([type=radio]):not([type=checkbox]).validation-invalid{
    color: #121212;
    border-color: var(--color-error);
    border-style: solid;
}


label.control-label{
	position: absolute;
    margin: auto;
    overflow: hidden;
    cursor: text;
    color: #666666;
	font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
   	top:14px;
	left:16px;
	font-size:15px;
}


label.lbl-cb{
	display:inline-block;
/* 	margin-bottom:10px; */
}

label.lbl-cb{
    padding-left: 10px;
   	display: inline-block;
    position: relative;
    line-height: 24px;
    text-align: start;
}

label.lbl-cb input[type="checkbox"]{
	/*position:absolute;*/
	left:0px;
	top:0px;
	z-index:-1;
}

label.lbl-cb a.links{margin:0px !important;}

input.validation-invalid~label{
	color:#CA2727;
}

input.has-value~label,
select.has-value~label{
	top:4px;
	left:16px;
	font-size:12px;
}

label.lbl-cb.validation-invalid,
label.lbl-cb.validation-invalid a{
	color:#121212;
}
label.lbl-cb.validation-invalid input[type=checkbox]{
	background-color: #fcdfdf;
    border-color: #b92a45;
}

.validation-error{
    padding: 10px 0px 6px 42px;
    color: #000;
    position:relative;
    font-size: 12px;
}

.validation-error:before{
	position:absolute;
    left: 12px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(img/warning.svg) no-repeat center / contain;
    content: ""; 
}