.checkmark {
    display: flex;
	margin-right: 14px;
    height: 25px;
    width: 30px;
	border: solid #090909 1px;
}

.class-check input:checked ~ .checkmark {
    height: 25px;
}

.form-control:focus {
    border-color: var(--blurred-color);
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px var(--color-primary-light), 0 0 0px var(--color-primary-light);
            box-shadow: inset 0 0px 0px var(--color-primary-light), 0 0 0px var(--color-primary-light);
  }
  
.has-success .form-control:focus {
    border-color: var(--blurred-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
}

.has-warning .form-control:focus {
    border-color: var(--blurred-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
}

.has-error .form-control:focus {
    border-color: var(--blurred-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
            box-shadow: inset 0 1px 1px rgba(255, 255, 255), 0 0 6px #ffffff;
}

.form-control {
    -webkit-box-shadow: 0 6px 6px rgb(247, 248, 248) inset;
    box-shadow: 0 6px 6px rgb(247, 248, 248) inset;
    border: solid;
    border-color: var(--blurred-color);
}

.coronita-form-group-info {
    background-color: rgba(218, 232, 246);
    padding: 18px 40px 18px 18px;
    border-radius: 12px;
    margin-top: 10px;
    display: -webkit-inline-box;
}

.coronita-form-group-guion {
    padding: 0px 10px 0px 0px;
    margin-top: 10px;
    display: -webkit-inline-box;
}

.form-check-out {
    background-color: var(--color-primary-light);
    border-radius: 8px;
	width: 81%;
	font-size: 15px;
	line-height: 24px;
	text-align: start;
	color: var(--color-primary-title);
	padding: 10px 10px;
	box-shadow: rgba(0, 41, 143, .082) 0 0 0 1px;
}

@media (min-width: 768px) {

    .main-content {
        row-gap: 5px !important; 
    }
  }

@media (min-width: 815px) {
 
    .coronita-form-group-info {
        margin-top: 0px !important;    
    }

    .main-content {
        row-gap: 10px !important; 
    }
  }

.coronita-form-group-info {
    background-color: rgba(218, 232, 246);
    padding: 18px 40px 18px 18px;
    border-radius: 12px;
    margin-top: 10px;
    display: -webkit-inline-box;
}

/* Mobile Devices */
@media (max-width: 420px) {
 
    .form-check-out input {
        width: 53px !important;  
    }
  }

@media (max-width: 1023px ) {
    .form-check-out {
        width: 93%;
    }
}

.form-check-out input {
	/*border: 1px solid var(--color-border-input);*/
	border-radius: 8px;
	width: 40px;
	height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
    top: -9px !important;
}

.form-check-out .form-check-group {
	display: inline-flex;
	align-items: center;
	justify-content: start;
	/*column-gap: 10px;*/
	position: relative;
	padding-right: 30px
}

.question-div {
    padding-top:14px;
    text-align:left;
    padding-bottom:8px;
    font-size:small;
}

.link_text {
    font-size: 18px;
    font-family: 'BBVA Tiempos Headline';
    color: var(--color-dark-blue);
    text-align: left;
    font-weight: 700;
}

@media (max-width: 430px) {
    .link_text {
      font-size: 21.5px;
    }
}

@media (max-width: 413px) {
    .link_text {
        font-size: 20.5px;
    }
}

@media (max-width: 399px) {
    .link_text {
        font-size: 20px;
    }
}

@media (max-width: 392px) {
    .link_text {
        font-size: 19.5px;
    }
}

@media (max-width: 385px) {
    .link_text {
        font-size: 19px;
    }
}

@media (max-width: 378px) {
    .link_text {
        font-size: 18.5px;
    }
}

@media (max-width: 371px) {
    .link_text {
        font-size: 18px;
    }
}

@media (max-width: 364px) {
    .link_text {
        font-size: 17.5px;
    }
}

@media (max-width: 358px) {
    .link_text {
        font-size: 17px;
    }
}

@media (max-width: 351px) {
    .link_text {
      font-size: 16.5px;
    }
}

@media (max-width: 344px) {
    .link_text {
      font-size: 16px;
    }
}

@media (max-width: 337px) {
    .link_text {
      font-size: 15.5px;
    }
}

@media (max-width: 330px) {
    .link_text {
      font-size: 15px;
    }
}

input[type=checkbox]:checked:before {
	background: url(https://assets.caasbbva.com/content/dam/caas/peru/marketing/bxi/Checkmark.svg) center no-repeat
}

input[type=checkbox]:before {
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	position: relative;
	content: '';
	display: inline-block;
	visibility: visible;
	top: 20%;
	left: 20%
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    padding-block: 2px;
}

.btn{
	font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 100%;
    padding: 16px;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    color: #F7F8F8;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
/*     line-height: 24px; */
    margin: 8px 0;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-size: 210% 100%;
    background-position: 100% center;
    background-repeat: no-repeat;
    -webkit-transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing:border-box;
    font-weight: 600;
    line-height: 24px;
}

.btn, .btn.primary{
	will-change: background-position;
    background-size: 210% 100%;
    background-position: 99% center;
    background-repeat: no-repeat;
    -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    background-image: linear-gradient(100deg, #070e465b 50%, rgb(8, 14, 67) 50%);
    background-color: var(--color-dark-blue);
}

.btn.white{
	background-color: var(--color-generic);
    background-image: linear-gradient(100deg, var(--color-generic) 0%, var(--color-generic) 50%, var(--color-generic) 50%, var(--color-generic) 100%);
    color: var(--color-dark-blue);
}

.btn.grey{
	background-color: var(--color-primary-light);
    background-image: var(--color-primary-light);
    color: var(--color-dark-blue);
    width: 130%;
    max-width: 130%;
    margin: 8px -53px 0px -17px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn:active.link-hover,
.btn.active.link-hover {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px var(--color-primary-light);
          box-shadow: inset 0 3px 5px var(--color-primary-light);
}

.btn:hover.link-hover,
.btn:focus.link-hover,
.btn.focus.link-hover {
    color: var(--color-dark-blue);
  text-decoration: none;
}


.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  background-color: rgb(175, 184, 193);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(226, 230, 233)), color-stop(50%, rgba(226, 230, 233)), color-stop(51%, rgba(226, 230, 233)), color-stop(100%, rgba(226, 230, 233)));
    background-image: -webkit-linear-gradient(350deg, rgba(226, 230, 233) 0%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 100%);
    background-image: -o-linear-gradient(350deg, rgba(226, 230, 233) 0%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 100%);
    background-image: linear-gradient(100deg, rgba(226, 230, 233) 0%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 50%, rgba(226, 230, 233) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$end', endColorstr='$start', GradientType=0);
    color: rgba(114, 121, 128, 0.643);
}

.width-add {
    width:150px;
}

.wrap-nowrap {
    text-wrap: nowrap;
}

@media (max-width: 1024px) {

    .section-visibility {
        display: none;
    }

    .d-flex {
        flex-direction: column;
        display: flex !important
      }

    .width-add {
        width:100%;
    }
    .btn.grey{
        width: 100%;
        margin: 8px 0px 0px 0px;
    }
    
    .main-content .form-note {
        display: none;
    }
}


   .note-p{
        font-weight: 350;
        color: #070E46;
        line-height: 24px;
        /*font-size: 15px;*/
        text-align: left;
        padding-bottom: 10px;
    }
    .note-div{
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-left: -7px;
    }

    .info-year {
        font-size: 12px;
    }
/*
.text-ic {
	background-size: 100%;
    background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
    cursor: pointer;
    top: 20%;
	width: 24px;
	height: 24px;
	right: 0;
	background-image: url(https://assets.caasbbva.com/content/dam/caas/peru/marketing/bxi/Help.svg);
	position: absolute;
}*/